In this notebook downloaded data files are combined into one data frame, processed and resulting data frame is used for further work.

Comments:<br>

**!! In the paper covid 2020, data was used from year 2014, here we use from 2010 --> that is problematic because of comparison between rmse from paper 2020 and new methods we will use now !!**<br>
**!! Also, in the paper 2020 some days excluded (e.g. Jan-01 and Jan-02 because of high PM10 levels due to NY's fireworks, and between 26th and 30th Mar 2020 due to a Saharan dust event). Here we leave those days because Han suggested to include all data !!**<br>
**- All pollutants are measured in [µg/m³]**

In [1]:
import sys
sys.path.append('../..')
from src.modules.preprocessing import *

# Read air pollution data from 2010-01-01

In [2]:
path = '../../data/Daily_historical_data/O3,NO2,PM10-used_in_paper2020'
df2010 = import_data_year2010(path)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'

In [3]:
df2010

,D_NO2,D_PM10K,N_NO2,N_O3,N_PM10K,O_NO2,O_PM10K,S_NO2,S_O3,S_PM10K,W_NO2,W_PM10K
2010-01-01,62.420425,48.681210,37.758297,4.000452,34.853405,52.362980,41.291916,45.165530,2.108327,58.876480,47.048294,38.215210
2010-01-02,49.886177,148.307540,25.938934,4.637932,45.783848,36.956390,76.422780,33.300850,1.795727,169.943600,35.495000,79.188095
2010-01-03,21.900616,21.664154,11.074873,34.357640,10.978717,15.286636,16.273163,14.216703,30.359385,19.864191,13.905152,14.734432
2010-01-04,36.261917,21.462568,18.268064,48.127280,14.785930,24.183193,20.439781,26.544174,43.230330,26.680067,22.021637,11.564521
2010-01-05,71.757225,53.670230,41.781490,12.211806,32.000100,42.627240,43.426716,51.446163,7.382785,54.818146,50.603188,34.387577
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-03,33.136486,18.087683,14.935202,47.710407,18.953040,19.609596,14.622527,21.049612,36.083650,15.733115,20.356472,14.355809
2021-07-04,19.907900,14.338615,8.624179,78.167210,15.033513,14.503092,14.373650,13.824055,67.281296,14.214394,11.550471,13.404326
2021-07-05,20.364044,16.338556,16.112087,66.048890,17.262230,12.612704,15.058688,12.696744,70.662820,13.985309,14.112437,15.179428
2021-07-06,24.437843,19.290907,7.977263,71.018890,15.782174,15.851383,17.253944,13.073669,58.211086,14.010532,13.191885,14.543660
2021-07-07,26.597778,20.982940,9.195446,74.662680,22.256980,16.339731,19.175943,14.782062,66.101130,19.599554,15.359026,20.244429

## Impute missing values with bfill

In [4]:
df2010.isnull().sum()/df2010.shape[0]*100

D_NO2      0.332858
D_PM10K    1.735616
N_NO2      0.261531
N_O3       1.093676
N_PM10K    1.711840
O_NO2      0.855920
O_PM10K    0.998573
S_NO2      0.594389
S_O3       1.664289
S_PM10K    0.903471
W_NO2      1.331431
W_PM10K    1.711840
dtype: float64

In [5]:
df2010_nonan = df2010.fillna(method='bfill')
df2010_nonan.isnull().sum().any()

False

## Add pollution measure total oxidant, Ox
Ox = NO2 + O3

In [6]:
df = df2010_nonan.copy()
df['N_Ox'] = df['N_NO2'] + df['N_O3']
df['S_Ox'] = df['S_NO2'] + df['S_O3']

## Add temporal features

In [7]:
df_temp = temporal_feat(df)
df_temp.head(2)

,D_NO2,D_PM10K,N_NO2,N_O3,N_PM10K,O_NO2,O_PM10K,S_NO2,S_O3,S_PM10K,W_NO2,W_PM10K,N_Ox,S_Ox,year,month,dayofyear,weekday,season
2010-01-01,62.420425,48.68121,37.758297,4.000452,34.853405,52.36298,41.291916,45.16553,2.108327,58.87648,47.048294,38.215210,41.758750,47.273857,2010,Jan,001,Friday,winter
2010-01-02,49.886177,148.30754,25.938934,4.637932,45.783848,36.95639,76.422780,33.30085,1.795727,169.94360,35.495000,79.188095,30.576866,35.096577,2010,Jan,002,Saturday,winter

In [8]:
df_temp[['dayofyear']]

           dayofyear
2010-01-01       001
2010-01-02       002
2010-01-03       003
2010-01-04       004
2010-01-05       005
...              ...
2021-07-03       184
2021-07-04       185
2021-07-05       186
2021-07-06       187
2021-07-07       188

[4206 rows x 1 columns]

### Temporal dummies for season, month and weekday

In [9]:
temp_cols = ['month', 'weekday', 'season']
df_temp = temporal_dummies(df_temp, temp_cols)
df_temp.head(2)

,D_NO2,D_PM10K,N_NO2,N_O3,N_PM10K,O_NO2,O_PM10K,S_NO2,S_O3,S_PM10K,...,weekday_Monday,weekday_Saturday,weekday_Sunday,weekday_Thursday,weekday_Tuesday,weekday_Wednesday,season_fall,season_spring,season_summer,season_winter
2010-01-01,62.420425,48.68121,37.758297,4.000452,34.853405,52.36298,41.291916,45.16553,2.108327,58.87648,...,0,0,0,0,0,0,0,0,0,1
2010-01-02,49.886177,148.30754,25.938934,4.637932,45.783848,36.95639,76.422780,33.30085,1.795727,169.94360,...,0,1,0,0,0,0,0,0,0,1

### Export (a)

In [10]:
#df_temp.to_csv('../../results/5sta(DNOWS)_3com(NO2,PM10K,O3)_year2010_TemporalDummies_Ox.csv')

## Add public holidays feature

In [11]:
df_temp.index[0]#.split()[0]

Timestamp('2010-01-01 00:00:00')

In [12]:
df_temp = public_holidays(df_temp)
df_temp.head(2)

,D_NO2,D_PM10K,N_NO2,N_O3,N_PM10K,O_NO2,O_PM10K,S_NO2,S_O3,S_PM10K,...,weekday_Saturday,weekday_Sunday,weekday_Thursday,weekday_Tuesday,weekday_Wednesday,season_fall,season_spring,season_summer,season_winter,holiday
2010-01-01,62.420425,48.68121,37.758297,4.000452,34.853405,52.36298,41.291916,45.16553,2.108327,58.87648,...,0,0,0,0,0,0,0,0,1,1
2010-01-02,49.886177,148.30754,25.938934,4.637932,45.783848,36.95639,76.422780,33.30085,1.795727,169.94360,...,1,0,0,0,0,0,0,0,1,0

## Add school holidays feature

Some holidays not marked as school holidays because it's a one day of not going to the school. This could be fixed if needed based on holiday==1.

In [13]:
df_temp = school_holidays(df_temp)
df_temp.head(2)

,D_NO2,D_PM10K,N_NO2,N_O3,N_PM10K,O_NO2,O_PM10K,S_NO2,S_O3,S_PM10K,...,weekday_Sunday,weekday_Thursday,weekday_Tuesday,weekday_Wednesday,season_fall,season_spring,season_summer,season_winter,holiday,holiday_school
2010-01-01,62.420425,48.68121,37.758297,4.000452,34.853405,52.36298,41.291916,45.16553,2.108327,58.87648,...,0,0,0,0,0,0,0,1,1,1
2010-01-02,49.886177,148.30754,25.938934,4.637932,45.783848,36.95639,76.422780,33.30085,1.795727,169.94360,...,0,0,0,0,0,0,0,1,0,1

### Export (b)

In [14]:
#df_temp.to_csv('../../results/5sta(DNOWS)_3com(NO2,PM10K,O3)_year2010_TemporalDummies_Ox_holidays.csv')

# Add meteorological data

In [15]:
path = '../../data/Daily_historical_data/RH,Temp,Precip,Press,Wind_speed&direction-used_in_paper2020'
df_meteo = import_meteo_year2010(path)

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'
*** No CODEPAGE record, no encoding_override: will use 'iso-8859-1'

In [16]:
df_meteo

,DonBosco_RH,DonBosco_Temp,Nord_Precip,Nord_Pressure,Nord_RH,Nord_Temp,Nord_Winddirection,Nord_Windspeed,Ost_Pressure,Ost_RH,...,Ost_Winddirection,Ost_Windspeed,Sud_RH,Sud_Temp,Sud_Winddirection,Sud_Windspeed,West_RH,West_Temp,West_Winddirection,West_Windspeed
2010-01-01,83.532080,3.381270,0.0,953.79370,77.251884,4.035931,89.42938,0.999700,NaN,NaN,...,NaN,NaN,86.135430,2.459399,178.87103,0.358427,83.031044,3.497470,189.95006,0.326422
2010-01-02,87.016050,2.954946,0.0,950.12506,81.564156,3.522331,110.14704,0.791805,NaN,NaN,...,NaN,NaN,89.093750,2.333528,196.57470,0.279739,86.777100,3.033653,214.33745,0.206639
2010-01-03,55.582905,2.673754,0.0,961.61456,56.786457,3.109104,227.58770,3.743496,NaN,NaN,...,NaN,NaN,57.440624,2.436342,264.31314,1.893668,56.488766,2.953737,278.73930,2.640419
2010-01-04,42.072296,-0.668366,0.0,974.15820,49.110626,-0.742807,242.49976,1.280200,NaN,NaN,...,NaN,NaN,43.596670,-1.041552,288.00970,1.136650,44.811253,-0.571709,285.80966,1.023319
2010-01-05,72.974790,-3.945791,0.0,972.75420,69.331055,-3.867371,134.32390,0.704452,NaN,NaN,...,NaN,NaN,71.944374,-4.338587,207.64958,0.428190,73.859795,-4.016794,198.60895,0.356867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-03,66.519170,18.550251,0.0,977.16940,67.474310,18.020380,167.51172,0.476324,973.1446,73.206460,...,182.59240,0.435133,65.766460,18.418127,193.14417,0.673823,57.975098,18.413990,264.72040,0.624361
2021-07-04,54.675888,21.879908,0.0,976.34150,58.300950,21.290035,150.60567,0.629011,972.4365,60.177140,...,130.74823,0.562957,54.834354,21.776693,141.42662,0.901104,49.535610,21.988039,179.25130,0.576749
2021-07-05,67.647030,20.568106,0.0,973.71210,68.143060,19.866663,107.73452,0.646504,969.7183,71.621360,...,139.74475,0.418278,63.512130,20.654871,168.46986,0.634559,58.139606,20.624140,174.17639,0.545803
2021-07-06,65.649660,21.725199,0.0,973.59030,66.033400,21.587740,120.35903,0.852469,969.6665,74.613620,...,129.45146,0.462159,64.703750,21.754837,162.47408,1.140109,57.618786,21.858849,198.03795,0.677458
2021-07-07,58.761517,24.779854,0.0,974.58840,63.282795,24.060555,104.95655,1.020956,970.7351,66.954994,...,130.95103,0.768980,59.206753,24.673706,122.65005,1.167750,54.217106,24.694237,205.04869,0.661319

## Impute missing values with bfill, except for Ost station
* **In Ost station data starts from 2017-05-18**

In [17]:
df_meteo.isnull().sum()/df_meteo.shape[0]*100

DonBosco_RH            0.213980
DonBosco_Temp          0.618165
Nord_Precip           10.912981
Nord_Pressure          0.332858
Nord_RH                0.332858
Nord_Temp              0.927247
Nord_Winddirection     0.332858
Nord_Windspeed         0.499287
Ost_Pressure          64.217784
Ost_RH                64.336662
Ost_Temp              64.241560
Ost_Winddirection     64.217784
Ost_Windspeed         64.217784
Sud_RH                 0.641940
Sud_Temp               1.212553
Sud_Winddirection      0.237756
Sud_Windspeed          0.237756
West_RH                0.713267
West_Temp              0.332858
West_Winddirection     0.095102
West_Windspeed         0.095102
dtype: float64

In [19]:
nonan = df_meteo.drop(['Ost_Pressure','Ost_RH','Ost_Temp','Ost_Winddirection','Ost_Windspeed'], axis=1).fillna(method='bfill')
df_meteo_new = pd.concat([nonan, df_meteo[['Ost_Pressure','Ost_RH','Ost_Temp','Ost_Winddirection','Ost_Windspeed']]], axis=1)

# Join air pollution and meteorological data

In [20]:
df_all = df_temp.join(df_meteo_new)
df_all

,D_NO2,D_PM10K,N_NO2,N_O3,N_PM10K,O_NO2,O_PM10K,S_NO2,S_O3,S_PM10K,...,Sud_Windspeed,West_RH,West_Temp,West_Winddirection,West_Windspeed,Ost_Pressure,Ost_RH,Ost_Temp,Ost_Winddirection,Ost_Windspeed
2010-01-01,62.420425,48.681210,37.758297,4.000452,34.853405,52.362980,41.291916,45.165530,2.108327,58.876480,...,0.358427,83.031044,3.497470,189.95006,0.326422,NaN,NaN,NaN,NaN,NaN
2010-01-02,49.886177,148.307540,25.938934,4.637932,45.783848,36.956390,76.422780,33.300850,1.795727,169.943600,...,0.279739,86.777100,3.033653,214.33745,0.206639,NaN,NaN,NaN,NaN,NaN
2010-01-03,21.900616,21.664154,11.074873,34.357640,10.978717,15.286636,16.273163,14.216703,30.359385,19.864191,...,1.893668,56.488766,2.953737,278.73930,2.640419,NaN,NaN,NaN,NaN,NaN
2010-01-04,36.261917,21.462568,18.268064,48.127280,14.785930,24.183193,20.439781,26.544174,43.230330,26.680067,...,1.136650,44.811253,-0.571709,285.80966,1.023319,NaN,NaN,NaN,NaN,NaN
2010-01-05,71.757225,53.670230,41.781490,12.211806,32.000100,42.627240,43.426716,51.446163,7.382785,54.818146,...,0.428190,73.859795,-4.016794,198.60895,0.356867,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-03,33.136486,18.087683,14.935202,47.710407,18.953040,19.609596,14.622527,21.049612,36.083650,15.733115,...,0.673823,57.975098,18.413990,264.72040,0.624361,973.1446,73.206460,18.672241,182.59240,0.435133
2021-07-04,19.907900,14.338615,8.624179,78.167210,15.033513,14.503092,14.373650,13.824055,67.281296,14.214394,...,0.901104,49.535610,21.988039,179.25130,0.576749,972.4365,60.177140,22.199862,130.74823,0.562957
2021-07-05,20.364044,16.338556,16.112087,66.048890,17.262230,12.612704,15.058688,12.696744,70.662820,13.985309,...,0.634559,58.139606,20.624140,174.17639,0.545803,969.7183,71.621360,20.727047,139.74475,0.418278
2021-07-06,24.437843,19.290907,7.977263,71.018890,15.782174,15.851383,17.253944,13.073669,58.211086,14.010532,...,1.140109,57.618786,21.858849,198.03795,0.677458,969.6665,74.613620,21.856710,129.45146,0.462159
2021-07-07,26.597778,20.982940,9.195446,74.662680,22.256980,16.339731,19.175943,14.782062,66.101130,19.599554,...,1.167750,54.217106,24.694237,205.04869,0.661319,970.7351,66.954994,24.938086,130.95103,0.768980

# Export final data

In [21]:
#df_all.to_csv('../../results/5sta(DNOWS)_3com(NO2,PM10K,O3)_year2010_TemporalDummies_Ox_holidays_meteo.csv')

In [22]:
df_all.columns

Index(['D_NO2', 'D_PM10K', 'N_NO2', 'N_O3', 'N_PM10K', 'O_NO2', 'O_PM10K',
       'S_NO2', 'S_O3', 'S_PM10K', 'W_NO2', 'W_PM10K', 'N_Ox', 'S_Ox', 'year',
       'dayofyear', 'month_Apr', 'month_Aug', 'month_Dec', 'month_Feb',
       'month_Jan', 'month_Jul', 'month_Jun', 'month_Mar', 'month_May',
       'month_Nov', 'month_Oct', 'month_Sep', 'weekday_Friday',
       'weekday_Monday', 'weekday_Saturday', 'weekday_Sunday',
       'weekday_Thursday', 'weekday_Tuesday', 'weekday_Wednesday',
       'season_fall', 'season_spring', 'season_summer', 'season_winter',
       'holiday', 'holiday_school', 'DonBosco_RH', 'DonBosco_Temp',
       'Nord_Precip', 'Nord_Pressure', 'Nord_RH', 'Nord_Temp',
       'Nord_Winddirection', 'Nord_Windspeed', 'Sud_RH', 'Sud_Temp',
       'Sud_Winddirection', 'Sud_Windspeed', 'West_RH', 'West_Temp',
       'West_Winddirection', 'West_Windspeed', 'Ost_Pressure', 'Ost_RH',
       'Ost_Temp', 'Ost_Winddirection', 'Ost_Windspeed'],
      dtype='object')