In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import math
from matplotlib.pyplot import figure

In [2]:
data_path = r'../data/full_data.csv'

In [3]:
data = pd.read_csv(data_path,index_col=0)

In [4]:
data.columns

Index(['D_NO', 'D_NO2', 'D_NOX', 'D_PM10K', 'DonBosco_Temp', 'DonBosco_RH',
       'N_O3', 'N_NO', 'N_NO2', 'N_NOX', 'N_PM10K', 'Nord_Temp', 'Nord_RH',
       'Nord_Pressure', 'Nord_Precip', 'Nord_Radiation', 'Nord_Winddirection',
       'Nord_Windspeed', 'Nord_peek_wind_speed', 'O_NO', 'O_NO2', 'O_NOX',
       'O_PM10K', 'Ost_Temp', 'Ost_RH', 'Ost_Pressure', 'Ost_Winddirection',
       'Ost_Windspeed', 'Ost_peek_wind_speed', 'S_O3', 'S_NO', 'S_NO2',
       'S_NOX', 'S_PM10K', 'Sud_Temp', 'Sud_RH', 'Sud_Winddirection',
       'Sud_Windspeed', 'Sud_peek_wind_speed', 'W_NO', 'W_NO2', 'W_NOX',
       'W_PM10K', 'West_Temp', 'West_RH', 'West_Winddirection',
       'West_Windspeed', 'West_peek_wind_speed'],
      dtype='object')

In [5]:
PM = data.filter(like='PM10K',axis=1)

In [9]:
PM.index.name = 'index'

In [11]:
PM.reset_index(inplace=True)

In [12]:
PM['index'] = pd.to_datetime(PM['index'])

In [13]:
PM = PM.groupby(pd.Grouper(key='index', freq='D')).mean()

In [14]:
PM = PM['2018-01-01':'2020-03-15']

In [15]:
PM

              D_PM10K    N_PM10K    O_PM10K     S_PM10K    W_PM10K
index
2018-01-01  81.662500  30.354167  40.758333  104.266667  80.066667
2018-01-02  23.812500  20.654167  20.416667   27.845833  22.204167
2018-01-03  27.104167  19.200000  24.112500   32.716667  19.308333
2018-01-04  32.279167  21.954167  36.158333   40.187500  27.208333
2018-01-05  49.608333  27.400000  33.570833   58.816667  34.950000
...               ...        ...        ...         ...        ...
2020-03-11  36.062500  17.370833  22.608333   32.475000  28.004167
2020-03-12  50.116667  18.212500  32.970833   32.625000  26.783333
2020-03-13  22.754167  12.970833  20.229167   19.420833  16.870833
2020-03-14  19.679167  12.783333  18.500000   16.708333  15.354167
2020-03-15  14.533333  14.033333  14.720833   15.637500  12.258333

[805 rows x 5 columns]

In [17]:
PM.index = pd.to_datetime(PM.index)

In [18]:
PM.to_csv('../data/PM.csv')

In [29]:
data.columns

Index(['D_NO', 'D_NO2', 'D_NOX', 'D_PM10K', 'DonBosco_Temp', 'DonBosco_RH',
       'N_O3', 'N_NO', 'N_NO2', 'N_NOX', 'N_PM10K', 'Nord_Temp', 'Nord_RH',
       'Nord_Pressure', 'Nord_Precip', 'Nord_Radiation', 'Nord_Winddirection',
       'Nord_Windspeed', 'Nord_peek_wind_speed', 'O_NO', 'O_NO2', 'O_NOX',
       'O_PM10K', 'Ost_Temp', 'Ost_RH', 'Ost_Pressure', 'Ost_Winddirection',
       'Ost_Windspeed', 'Ost_peek_wind_speed', 'S_O3', 'S_NO', 'S_NO2',
       'S_NOX', 'S_PM10K', 'Sud_Temp', 'Sud_RH', 'Sud_Winddirection',
       'Sud_Windspeed', 'Sud_peek_wind_speed', 'W_NO', 'W_NO2', 'W_NOX',
       'W_PM10K', 'West_Temp', 'West_RH', 'West_Winddirection',
       'West_Windspeed', 'West_peek_wind_speed'],
      dtype='object')

In [20]:
columns = ['D_NO', 'D_NO2', 'D_NOX', 'D_PM10K','N_O3', 'N_NO', 'N_NO2', 'N_NOX', 'N_PM10K','Nord_Windspeed', 'Nord_peek_wind_speed', 'O_NO', 'O_NO2', 'O_NOX',
       'O_PM10K','Ost_Winddirection',
       'Ost_Windspeed', 'Ost_peek_wind_speed', 'S_O3', 'S_NO', 'S_NO2',
       'S_NOX', 'S_PM10K','Sud_Winddirection',
       'Sud_Windspeed', 'Sud_peek_wind_speed', 'W_NO', 'W_NO2', 'W_NOX',
       'W_PM10K','West_Winddirection',
       'West_Windspeed', 'West_peek_wind_speed','Nord_Winddirection']

In [21]:
local = data.drop(columns=columns,axis=1)

In [23]:
local.index.name = 'index'

local.reset_index(inplace=True)

local['index'] = pd.to_datetime(local['index'])

local = local.groupby(pd.Grouper(key='index', freq='D')).mean()

local = local['2018-01-01':'2020-03-15']

In [24]:
local

,DonBosco_Temp,DonBosco_RH,Nord_Temp,Nord_RH,Nord_Pressure,Nord_Precip,Nord_Radiation,Ost_Temp,Ost_RH,Ost_Pressure,Sud_Temp,Sud_RH,West_Temp,West_RH
index,,,,,,,,,,,,,,
2018-01-01,2.866667,88.458333,4.475000,80.791667,970.179167,0.057500,13.995833,3.366667,78.500000,966.066667,1.962500,90.708333,3.987500,82.250000
2018-01-02,1.162500,95.000000,1.637500,95.208333,971.066667,0.029167,43.045833,1.408333,90.083333,966.895833,0.816667,99.250000,1.575000,94.958333
2018-01-03,0.791667,86.250000,1.041667,85.833333,967.262500,0.004167,46.245833,0.950000,79.875000,963.012500,0.220833,89.750000,1.254167,82.666667
2018-01-04,0.779167,88.000000,0.937500,87.375000,965.850000,0.000000,36.545833,1.025000,77.750000,961.491667,0.141667,90.416667,1.204167,84.291667
2018-01-05,3.291667,87.458333,4.412500,84.083333,966.141667,0.000000,60.429167,3.187500,80.125000,961.883333,2.500000,89.625000,3.666667,85.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-11,12.062500,57.041667,11.733333,56.541667,975.662500,0.000000,NaN,12.062500,56.833333,971.520833,11.495833,57.291667,12.125000,55.666667
2020-03-12,12.066667,64.500000,12.162500,62.708333,975.816667,0.000000,NaN,12.158333,66.708333,971.604167,11.716667,63.666667,12.200000,62.583333
2020-03-13,7.950000,90.916667,8.412500,84.916667,976.554167,0.035417,NaN,8.054167,91.916667,972.366667,7.870833,86.625000,8.166667,87.375000
2020-03-14,6.070833,70.458333,5.775000,66.208333,981.608333,0.000000,NaN,5.795833,75.500000,977.416667,5.925000,72.375000,6.091667,68.250000
2020-03-15,4.279167,42.791667,4.179167,49.750000,986.716667,0.000000,NaN,4.333333,45.916667,982.541667,4.462500,45.291667,4.591667,43.375000

In [25]:
local.to_csv('../data/local_weather.csv')