In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import math
from matplotlib.pyplot import figure

In [3]:
df = pd.read_csv(r'../data/AgERA5_4params_graz.csv',index_col=0)

In [9]:
df

,Cloud_Cover_Mean,Temperature_Air_2m_Max_Day_Time,Temperature_Air_2m_Min_Night_Time,Wind_Speed_10m_Mean
time,,,,
2010-01-01,0.953929,279.83368,271.99307,1.082453
2010-01-02,0.972304,276.47330,271.35925,3.270343
2010-01-03,0.241196,275.35547,268.15024,1.778715
2010-01-04,0.538479,273.58000,267.65347,0.818607
2010-01-05,0.922452,271.91653,266.91235,1.061402
...,...,...,...,...
2021-11-21,0.391210,283.57620,271.84850,0.807543
2021-11-22,0.916345,279.98285,272.23920,0.952326
2021-11-23,0.367415,279.74155,273.32770,0.887264
2021-11-24,0.294172,277.97385,269.29034,0.902912
2021-11-25,0.833518,278.75793,270.00528,0.911316

In [6]:
def kelvinToCelsius(kelvin):
    return kelvin - 273.15

In [7]:
T = kelvinToCelsius(df.Temperature_Air_2m_Mean_24h)
df.replace(to_replace = df.Temperature_Air_2m_Mean_24h.values, value = T, inplace= True)

AttributeError: 'DataFrame' object has no attribute 'Temperature_Air_2m_Mean_24h'

In [8]:
T1 = kelvinToCelsius(df.Dew_Point_Temperature_2m_Mean)
df.replace(to_replace = df.Dew_Point_Temperature_2m_Mean.values, value = T1, inplace= True)

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_14476/181787824.py, line 2)