In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from datetime import date
import holidays

In [2]:
traffic_data=(r'..\data\traffic_data.xlsx')

df_ulice_podaci = pd.read_excel(traffic_data, engine='openpyxl', sheet_name='traffic_data', index_col=0)


df_ulice_podaci=df_ulice_podaci['2018-01-01':'2020-03-15']

df_ulice_podaci.index = pd.to_datetime(df_ulice_podaci.index)

In [3]:
df_ulice_podaci['Days']= pd.to_datetime(df_ulice_podaci.index)

df_ulice_podaci["DayOfWeek"] = df_ulice_podaci['Days'].dt.weekday

a = df_ulice_podaci.DayOfWeek.replace([0,1,2,3,4],'Radni_dan')


a = a.replace([5,6],'Vikend')

df_ulice_podaci = df_ulice_podaci.drop("DayOfWeek",axis=1)

df_ulice_podaci_new = pd.concat([a,df_ulice_podaci],axis = 1, join='inner')

df_ulice_podaci_new = df_ulice_podaci_new.drop('Days',axis=1)

df_ulice_podaci_new

,DayOfWeek,Ost_8010_208,DonBosco_8020_110,DonBosco_8020_119,DonBosco_8020_122,DonBosco_8053_111,Nord_8010_205,Ost_8010_209,Ost_8010_213,Ost_8010_214,Nord_8020_102,West_8020_103,Sud_8020_107,Sud_8041_218,Ost_8041_221,Nord_8045_203,Nord_8051_101
2018-01-01,Radni_dan,663.0,534.0,624.0,668.0,467.0,352.0,344.0,364.0,341.0,622.0,816.0,384.0,175.0,459.0,376.0,543.0
2018-01-02,Radni_dan,927.0,924.0,772.0,1191.0,904.0,673.0,563.0,544.0,702.0,1181.0,1390.0,889.0,451.0,1070.0,755.0,1128.0
2018-01-03,Radni_dan,962.0,922.0,772.0,1206.0,883.0,699.0,587.0,553.0,711.0,1149.0,1358.0,885.0,453.0,1104.0,767.0,1099.0
2018-01-04,Radni_dan,978.0,941.0,801.0,1233.0,900.0,720.0,606.0,565.0,726.0,1176.0,1404.0,904.0,458.0,1126.0,776.0,1131.0
2018-01-05,Radni_dan,1027.0,986.0,852.0,1278.0,946.0,743.0,613.0,604.0,762.0,1278.0,1468.0,956.0,475.0,1175.0,838.0,1238.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-11,Radni_dan,931.0,1193.0,469.0,1342.0,1019.0,683.0,698.0,680.0,812.0,1396.0,1542.0,1011.0,510.0,1351.0,NaN,1357.0
2020-03-12,Radni_dan,922.0,1158.0,478.0,1333.0,992.0,652.0,664.0,669.0,792.0,1366.0,1509.0,1022.0,507.0,1303.0,NaN,1337.0
2020-03-13,Radni_dan,892.0,1166.0,492.0,1371.0,989.0,655.0,639.0,689.0,817.0,1424.0,1513.0,992.0,523.0,1266.0,NaN,1335.0
2020-03-14,Vikend,487.0,727.0,341.0,877.0,613.0,320.0,359.0,382.0,447.0,872.0,1001.0,597.0,310.0,560.0,NaN,778.0
2020-03-15,Vikend,413.0,515.0,237.0,593.0,411.0,230.0,286.0,268.0,289.0,592.0,756.0,359.0,170.0,400.0,NaN,509.0

In [4]:
au_holidays = holidays.Austria()

In [5]:
holi = []
for holiday in holidays.Austria(years=[2018, 2019,2020]).items():
    holi.append(holiday)

In [6]:
df = pd.DataFrame(holi,columns =['date','praznik'])

In [7]:
df.date = pd.to_datetime(df.date)

In [8]:
df_new = df.loc[0:27]

In [9]:
for i in df_new.date:
    df_ulice_podaci_new.at[i,'DayOfWeek']='Praznik'

In [10]:
df_ulice_podaci_new

,DayOfWeek,Ost_8010_208,DonBosco_8020_110,DonBosco_8020_119,DonBosco_8020_122,DonBosco_8053_111,Nord_8010_205,Ost_8010_209,Ost_8010_213,Ost_8010_214,Nord_8020_102,West_8020_103,Sud_8020_107,Sud_8041_218,Ost_8041_221,Nord_8045_203,Nord_8051_101
2018-01-01,Praznik,663.0,534.0,624.0,668.0,467.0,352.0,344.0,364.0,341.0,622.0,816.0,384.0,175.0,459.0,376.0,543.0
2018-01-02,Radni_dan,927.0,924.0,772.0,1191.0,904.0,673.0,563.0,544.0,702.0,1181.0,1390.0,889.0,451.0,1070.0,755.0,1128.0
2018-01-03,Radni_dan,962.0,922.0,772.0,1206.0,883.0,699.0,587.0,553.0,711.0,1149.0,1358.0,885.0,453.0,1104.0,767.0,1099.0
2018-01-04,Radni_dan,978.0,941.0,801.0,1233.0,900.0,720.0,606.0,565.0,726.0,1176.0,1404.0,904.0,458.0,1126.0,776.0,1131.0
2018-01-05,Radni_dan,1027.0,986.0,852.0,1278.0,946.0,743.0,613.0,604.0,762.0,1278.0,1468.0,956.0,475.0,1175.0,838.0,1238.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-11,Radni_dan,931.0,1193.0,469.0,1342.0,1019.0,683.0,698.0,680.0,812.0,1396.0,1542.0,1011.0,510.0,1351.0,NaN,1357.0
2020-03-12,Radni_dan,922.0,1158.0,478.0,1333.0,992.0,652.0,664.0,669.0,792.0,1366.0,1509.0,1022.0,507.0,1303.0,NaN,1337.0
2020-03-13,Radni_dan,892.0,1166.0,492.0,1371.0,989.0,655.0,639.0,689.0,817.0,1424.0,1513.0,992.0,523.0,1266.0,NaN,1335.0
2020-03-14,Vikend,487.0,727.0,341.0,877.0,613.0,320.0,359.0,382.0,447.0,872.0,1001.0,597.0,310.0,560.0,NaN,778.0
2020-03-15,Vikend,413.0,515.0,237.0,593.0,411.0,230.0,286.0,268.0,289.0,592.0,756.0,359.0,170.0,400.0,NaN,509.0

In [11]:
df = df_ulice_podaci_new

In [13]:
df = df.drop(columns = 'DayOfWeek',axis=1)

In [19]:
df_nonan = df.bfill()

In [20]:
df_nonan.isnull().sum()

Ost_8010_208           0
DonBosco_8020_110      0
DonBosco_8020_119      0
DonBosco_8020_122      0
DonBosco_8053_111      0
Nord_8010_205          0
Ost_8010_209           0
Ost_8010_213           0
Ost_8010_214           0
Nord_8020_102          0
West_8020_103          0
Sud_8020_107           0
Sud_8041_218           0
Ost_8041_221           0
Nord_8045_203        153
Nord_8051_101          0
dtype: int64

In [22]:
df_nonan['Nord_8045_203'].fillna((df_nonan['Nord_8045_203'].mean()), inplace=True)

In [23]:
df_nonan.isnull().sum()

Ost_8010_208         0
DonBosco_8020_110    0
DonBosco_8020_119    0
DonBosco_8020_122    0
DonBosco_8053_111    0
Nord_8010_205        0
Ost_8010_209         0
Ost_8010_213         0
Ost_8010_214         0
Nord_8020_102        0
West_8020_103        0
Sud_8020_107         0
Sud_8041_218         0
Ost_8041_221         0
Nord_8045_203        0
Nord_8051_101        0
dtype: int64

In [21]:
df_ulice_podaci_new.to_csv('promet_analiza.csv')

In [24]:
df_nonan.to_csv('../data/promet.csv')

In [25]:
df_nonan

,Ost_8010_208,DonBosco_8020_110,DonBosco_8020_119,DonBosco_8020_122,DonBosco_8053_111,Nord_8010_205,Ost_8010_209,Ost_8010_213,Ost_8010_214,Nord_8020_102,West_8020_103,Sud_8020_107,Sud_8041_218,Ost_8041_221,Nord_8045_203,Nord_8051_101
2018-01-01,663.0,534.0,624.0,668.0,467.0,352.0,344.0,364.0,341.0,622.0,816.0,384.0,175.0,459.0,376.000000,543.0
2018-01-02,927.0,924.0,772.0,1191.0,904.0,673.0,563.0,544.0,702.0,1181.0,1390.0,889.0,451.0,1070.0,755.000000,1128.0
2018-01-03,962.0,922.0,772.0,1206.0,883.0,699.0,587.0,553.0,711.0,1149.0,1358.0,885.0,453.0,1104.0,767.000000,1099.0
2018-01-04,978.0,941.0,801.0,1233.0,900.0,720.0,606.0,565.0,726.0,1176.0,1404.0,904.0,458.0,1126.0,776.000000,1131.0
2018-01-05,1027.0,986.0,852.0,1278.0,946.0,743.0,613.0,604.0,762.0,1278.0,1468.0,956.0,475.0,1175.0,838.000000,1238.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-11,931.0,1193.0,469.0,1342.0,1019.0,683.0,698.0,680.0,812.0,1396.0,1542.0,1011.0,510.0,1351.0,868.407975,1357.0
2020-03-12,922.0,1158.0,478.0,1333.0,992.0,652.0,664.0,669.0,792.0,1366.0,1509.0,1022.0,507.0,1303.0,868.407975,1337.0
2020-03-13,892.0,1166.0,492.0,1371.0,989.0,655.0,639.0,689.0,817.0,1424.0,1513.0,992.0,523.0,1266.0,868.407975,1335.0
2020-03-14,487.0,727.0,341.0,877.0,613.0,320.0,359.0,382.0,447.0,872.0,1001.0,597.0,310.0,560.0,868.407975,778.0
2020-03-15,413.0,515.0,237.0,593.0,411.0,230.0,286.0,268.0,289.0,592.0,756.0,359.0,170.0,400.0,868.407975,509.0

In [26]:
def traffic_for_station(site,data):
    traffic_temp = data.filter(like=site,axis=1)
    return traffic_temp

In [27]:
sites = ['DonBosco','Nord','Ost','Sud','West']

In [28]:
for i in sites:
    traffic = traffic_for_station(i,df_nonan)
    print(i)
    print(traffic.columns)

DonBosco
Index(['DonBosco_8020_110', 'DonBosco_8020_119', 'DonBosco_8020_122',
       'DonBosco_8053_111'],
      dtype='object')
Nord
Index(['Nord_8010_205', 'Nord_8020_102', 'Nord_8045_203', 'Nord_8051_101'], dtype='object')
Ost
Index(['Ost_8010_208', 'Ost_8010_209', 'Ost_8010_213', 'Ost_8010_214',
       'Ost_8041_221'],
      dtype='object')
Sud
Index(['Sud_8020_107', 'Sud_8041_218'], dtype='object')
West
Index(['West_8020_103'], dtype='object')